---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import EditBlog from '@/components/editBlog'
const { title, description, image, articleDate } = Astro.props
---

<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />
	</head>

	<body class='text-stone-950  dark:text-white' style='background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/663caea3-2539-4281-aa50-65034133ff54/dfelfz0-a2b3e1c8-c399-4d66-b3c8-c85deac8379a.jpg/v1/fill/w_840,h_951,q_70,strp/dragon___steinhardt_s_guide_to_the_eldritch_hunt_by_carpet_crawler_dfelfz0-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQ0OCIsInBhdGgiOiJcL2ZcLzY2M2NhZWEzLTI1MzktNDI4MS1hYTUwLTY1MDM0MTMzZmY1NFwvZGZlbGZ6MC1hMmIzZTFjOC1jMzk5LTRkNjYtYjNjOC1jODVkZWFjODM3OWEuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.QsoEuU8iZjMgUY2zJgVB2FlToKMmu-bpyoJ6o3P9Czk');'>
		<main
			class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-12 mt-4 overflow-hidden md:overflow-visible'
		>
			<Header />
			<slot />
			<Footer />
		</main>
		<TwSizeIndicator />
		<EditBlog />
		<style>
			body {
				margin-left: calc(100vw - 100%); /* prevent layout shift */
			}
		</style>
	</body>
</html>
